*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
html,
body {
	padding: 0;
	margin: 0;
}
body {
	background-image: -o-linear-gradient(45deg, #9b0000, #dadfe1);
	background-attachment: fixed;
	background-image: linear-gradient(45deg, #9b0000, #dadfe1);
	background-repeat: no-repeat;
	min-height: 100vh;
}
::-moz-selection {
	color: #fff;
	background-color: #646569;
}
::selection {
	color: #fff;
	background-color: #646569;
}
::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: #fff;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 8px -3px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 8px -3px rgba(0, 0, 0, .5);
	z-index: 999;
}
.header-container {
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	padding: 10px 20px;
}
.header-container>h1.title {
	float: left;
	font-family: 'Open Sans', cursive;
	font-size: 40px;
	line-height: 40px;
	color: 	#646569;
	margin: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
footer {
	position: relative;
	width: 100%;
	background-color: #494949;
}
.footer-container {
	position: relative;
	font-family: 'Times', monospace;
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	padding: 50px 20px 20px 20px;
	text-align: center;
}
.footer-container p {
	color: #fff;
}
main {
	position: relative;
	width: 100%;
}
.main-container {
	padding-top: 80px;
	max-width: 1366px;
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
}
section {
	padding: 20px;
}
section .section-content {
	position: relative;
	margin-bottom: 50px;
}
section .section-content:last-of-type:not(:first-child)::after {
	content: none;
}
section p.section-title {
	font-family: 'Times', cursive;
	font-size: 50px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	margin: 0;
	text-shadow: 0 2px 6px #6c72bf;
}
section p.section-title.--lng {
	margin-bottom: 40px;
}
section p.section-title.--shrt {
	margin-bottom: 20px;
}
section p.section-desc {
	font-family: 'Times', monospace;
	position: relative;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 30px;
}
section div.section-caption {
	display: block;
	text-align: center;
	margin-bottom: 0;
}
section div.section-caption>p {
	font-family: 'Times', monospace;
	position: relative;
	display: inline-block;
	font-size: 30px;
	line-height: 32px;
	color: #fff;
	padding: 0 5px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-shadow: 0 2px 6px #6c72bf;
}
section div.section-caption>p::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background-color: rgba(76, 54, 255, .25);
	z-index: -1;
}
section .section-note {
	font-family: 'Times', monospace;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    margin: 20px 0 0;
}
section .section-note > a {
	text-decoration: none;
    color: #624e9a;
    font-weight: 600;
}
section .section-note > a:hover {
	color: #2e49ab;
}
button.btn-action {
	font-family: 'Times', monospace;
	color: 	#646569;
	border: none;
	background-color: #fff;
	border-radius: 8px;
	padding: 20px 30px;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid #fff;
	-webkit-box-shadow: 0 10px 20px -5px rgba(19, 31, 51, .65);
	box-shadow: 0 10px 20px -5px rgba(19, 31, 51, .65);
}
button.btn-action:disabled {
	background-color: #adadad;
	border-color:#adadad;
	-webkit-transform: scale(.9);
	-ms-transform: scale(.9);
	transform: scale(.9);
	cursor: not-allowed;
}
button.btn-action.active {
	background-color: #9886c7;
	color: #fff;
}
.console-log {
	position: relative;
	width: 100%;
	padding: 26px 10px 10px 10px;
	background-color: #fff;
	border-radius: 8px;
	margin: 10px auto 30px auto;
	-webkit-box-shadow: 0 10px 20px -5px rgba(19, 31, 51, .65);
	box-shadow: 0 10px 20px -5px rgba(19, 31, 51, .65);
}
.console-log::after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
	background: #ff5f56;
	-webkit-box-shadow: 16px 0 0 #ffbd2e, 32px 0 0 #27c93f;
	box-shadow: 16px 0 0 #ffbd2e, 32px 0 0 #27c93f;
}
.console-log.--md {
	width: 65%;
}
.console-log.--sm {
	width: 50%;
}
.console-log.--ads {
	max-width: 400px;
}
.console-log>.log-content {
	overflow: auto;
}
.--noshadow {
	-webkit-box-shadow: none;
	box-shadow: none;
}
pre {
	margin: 0;
}
code {
	color: #fff;
	background-color: #2f1e2e;
	font-family: 'Times', monospace;
	font-size: 11px;
	max-height: inherit;
	padding: 0 15px;
	display: block;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	overflow: auto;
}
code span.white {
	color: #fff;
}
code span.red {
	color: #ff7a6f;
}
code span.orange {
	color: #ffa11b;
}
code span.yellow {
	color: #fff81d;
}
code span.green {
	color: #59c759;
}
code span.blue {
	color: #06b6ef;
}
code span.violet {
	color: #bb88ea;
}
