* { padding: 0; margin: 0 10 0 10; }
body {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 1500px;
  font-family: "Avenir", "Avenir Next", Helvetica Neue, Arial;
  font-size: 0.95em;
}
a, a:visited { text-decoration: none; color: #87BDB3; }
a:hover { text-decoration: underline; color: #9DCBC2; }
h1, h2, h3, h4, h5 {
  color: #9b0000;
  background-color: inherit;
  font-weight: normal;
  padding: 0 0 5px 0;
  margin: 15px 0 0 0;
  border: none;
  clear: none;
}
h1 { font-size: 24pt; margin:  5px 0 10px 0; line-height: 28px; }
h2 { font-size: 14pt; margin: 30px 0 15px 0; letter-spacing: 0.01em; border-bottom: 1px solid #ccc;  line-height: 20px;}
h3 { font-size: 11pt; }
h4 { font-size: 9pt; }
h5 { font-size: 8pt; }
p { 
    margin: 0 0 0 0;
    text-indent:0px;
}
.content {
  margin: 0;
  padding: 15px 20px;
  background-color: #f7f7f7;
}
.title, .title h1, .title a {
  color: #492a7c;
  font-size: 24pt;
  margin-bottom: 20px;
  margin-top: 5px;
}

table {
    display:table;
    width:100%;
}
