body
{
	  background-color: black;
}


#wrapper {
		box-shadow: auto #383838;
    width: 100%;
    float: center;
    margin-top: 10px;
    margin-left: 20px;

}

#about{
	float: center;
	margin-left: 50px;
	margin-right: 50px;
	font-family: Georgia;
}

#map {
		float: center;
    height: 500px;
		width: 90%;
		margin-right: 50px;

}

#text {
   font-family:Garamond;
   color:gray;
    margin-top: -40px;
    margin-left: 7px;
    padding-left: 42px;
    padding-right: 40px;
    width: 30%;
    float: right;
	line-height: 30px;
	font-size:23px;
}

.legend-control-container
{background-color: #272727;
opacity:0.8;
font-family:Georgia;
font-size:15px;
}


#heading1
{font-family: Garamond;
font-weight: 599;
font-size: 2em;
letter-spacing: 3px;
color:#0066cc;
margin-top: 0px;
font-weight:5px
}

#heading2
{font-family: Garamond;
font-size: 1.2em;
color: #999999;
margin-bottom:5px;
margin-top: 1px;
}

#intro
{font-family: Garamond;
font-size: 1em;
color: #f5a390;
margin-bottom:5px;
margin-top: 1px;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #e34d4d;
}

a:hover {
  color: #e89595;
	text-decoration: underline;
}

a:visited{
	color: #e34d4d;
}

a:active {
  text-decoration: underline;
}

#paneltext {
    margin-bottom: 30px;
    margin-left: 35px;
    margin-top: 10px;
    font-family: Garamond;
    color:#f5a390;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    line-height: 20px;
    background-color: black;
    width: 100%;
    float: left;
}


.select-css::-ms-expand {
	display: none;
	font-family: Georgia;
}
.select-css:hover {
	border-color: #bdbdbd;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 10px 10px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
	font-family: Georgia;
}
.select-css option {
	font-weight:normal;
}
.button {
  background-color: #6AADE7;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-family: Georgia;
  font-size: 12px;
}
.button:hover{
	background-color: #bdbdbd;
}
