html {
  padding: 20px 50px;
}
h2 {
  font-family: 'Georgia', sans-serif;
  font-size: 32px;
}
a, a:visited { text-decoration: none; color: #87BDB3; }
a:hover { text-decoration: underline; color: #9DCBC2; }
.timeline-base {
  stroke: #444;
  stroke-width: 0.2;
}
.circle-category {
  transition: fill-opacity 0.2s, r 0.5s;
  -webkit-transition: fill-opacity 0.2s, r 0.5s;
}
.circle-education,
.circle-education ~ .text-position,
.details-education .text-position {
  color: #ebbd34;
  fill: #ebbd34;
}
.circle-work,
.circle-work ~ .text-position,
.details-work .text-position {
  color: #9DCBC2;
  fill: #9DCBC2;
}

.circle-research,
.circle-research ~ .text-position,
.details-research .text-position {
  color: #c2638b;
  fill: #c2638b;
}

.circle-teaching,
.circle-teaching ~ .text-position,
.details-teaching .text-position {
  color: #638cc2;
  fill: #638cc2;
}

.circle-other,
.circle-other ~ .text-position,
.details-other .text-position {
  color: #ad63c2;
  fill: #ad63c2;
}


.circle-hovered {
  fill-opacity: 0.2;
}
.circle-clicked {
  fill: #fff;
  transition: fill 1s, r 0.9s;
  -webkit-transition: fill 1s, r 0.9s;
}
.text-date,
.text-position {
  transition: opacity 0.7s ease-in-out;
  -webkit-transition: opacity 0.7s ease-in-out;
}
.text-date {
  fill: #888;
  font-family: 'Georgia', sans-serif;
}
.details .text-date {
  margin-right: 15px;
}
.text-place {
  font-family: 'Georgia', sans-serif;
  font-size: 18px;
  fill: #888;
  margin-top: 10px;
}
.text-place.hovered,
.text-desc.hovered,
.text-date-end.hovered {
  transition: opacity 1.5s;
}
.text-place,
.text-desc,
.text-date-end {
  transition: opacity 0.1s;
}
.position-title {
  font-size: 25px;
}
.text-position,
.text-desc {
  font-family: 'Georgia', sans-serif;
  font-weight: lighter;
}
.text-desc {
  color: #444;
  margin-top: 20px;
}
.close-icon {
  color: #ccc;
  cursor: pointer;
  float: right;
  font-size: 38px;
  display: inline-block;
  vertical-align: middle;
}
.title {
  clear: both;
  display: inline-block;
}
.details {
  transition: opacity 1s ease-in-out;
}
