#mapid {
  width: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  background: #cc9966;
  color: white;
  font-size: 20px;
  font-family: : Georgia;
}
.leaflet-popup-content {
  margin: 5px;
}
.leaflet-popup-tip {
  background: #cc9966;
}
.leaflet-popup-close-button {
  display: none;
}

/*another-popop style*/
.another-popup .leaflet-popup-content-wrapper {
background: #737373;
color: #CBD9DE;
font-size: 13px;
line-height: 24px;
border-radius: 0;
}
.another-popup.leaflet-popup-content {
margin: 5px;
}
.another-popup .leaflet-popup-tip-container {
width: 50px;
height: 15px;
}
.another-popup .leaflet-popup-tip {
background: #737373;
border: none;
box-shadow: none;
}

/*dy-popop style*/
.dy-popup .leaflet-popup-content-wrapper {
background: #c69b9b;
color: black;
font-size: 13px;
line-height: 24px;
border-radius: 0;
opacity: 0.7;
}
.dy-popup.leaflet-popup-content {
margin: 5px;
}
.dy-popup .leaflet-popup-tip-container {
width: 50px;
height: 15px;
opacity: 0.7;
}
.dy-popup .leaflet-popup-tip {
background: #c69b9b;
border: none;
opacity: 0.7;
}

/*popup for mountains style*/
.mountains-popup .leaflet-popup-content-wrapper {
  border-radius: 0;
  background: #756bb1;
  color: white;
  font-size: 20px;
  font-family: Georgia;
  opacity: 0.7;
}
.mountains-popup.leaflet-popup-content {
margin: 5px;
}
.mountains-popup .leaflet-popup-tip-container {
width: 50px;
height: 15px;
opacity: 0.7;
}
.mountains-popup .leaflet-popup-tip {
background: #756bb1;
border: none;
opacity: 0.7;
box-shadow: none;
}


/*popup for steppes style*/
.steppes-popup .leaflet-popup-content-wrapper {
  border-radius: 0;
  background: #31a354;
  color: white;
  font-size: 20px;
  font-family: Georgia;
  opacity: 0.7;
}
.steppes-popup.leaflet-popup-content {
margin: 5px;
}
.steppes-popup .leaflet-popup-tip-container {
width: 50px;
height: 15px;
opacity: 0.7;
}
.steppes-popup .leaflet-popup-tip {
background: #31a354;
border: none;
opacity: 0.7;
box-shadow: none;
}

/*popup for deserts style*/
.deserts-popup .leaflet-popup-content-wrapper {
  border-radius: 0;
  background: #cc9966;
  color: white;
  font-size: 20px;
  font-family: Georgia;
  opacity: 0.7;
}
.deserts-popup.leaflet-popup-content {
margin: 5px;
}
.deserts-popup .leaflet-popup-tip-container {
width: 50px;
height: 15px;
opacity: 0.7;
}
.deserts-popup .leaflet-popup-tip {
background: #cc9966;
border: none;
opacity: 0.7;
box-shadow: none;
}

/*popup for cities style*/
.cities-popup .leaflet-popup-content-wrapper {
  border-radius: 0;
  background: #fee0d2;
  color: white;
  font-size: 20px;
  font-family: Georgia;
  opacity: 0.7;
}
.cities-popup.leaflet-popup-content {
margin: 5px;
}
.cities-popup .leaflet-popup-tip-container {
width: 50px;
height: 15px;
opacity: 0.7;
}
.cities-popup .leaflet-popup-tip {
background: #fee0d2;
border: none;
opacity: 0.7;
box-shadow: none;
}
